<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Trang chủ</title>
</head>
<body>
    <form>
        <div class="header">
			<div class="article">
				<div id="article-1">
					
				</div>
				<div id="article-3">
					<p id="center"><a href="/allProduct">Manager product</a></p>
				</div>
				<div id="article-4">
					<p id="center"><a href="/insert">Add product</a></p>
				</div>
			</div>
		</div>
		<br>
		<div id="nav">
			<div class="nav-header">
				<div class="title">
					Zen Shop
				</div>
				<div class="clearfix">
					<div class="nav-header-1">
						<div class="icon">
						</div>
						<div class="subtitle">
						</div>
					</div>
					<div class="nav-header-1">
						<div class="icon">
<center><img src=" https://media.istockphoto.com/vectors/kids-store-products-children-toy-shop-vector-id1201171442" alt="#" width="500"> </center>
						</div>
					</div>

<hr>
		<div class="footer">
		
			<div class="list-shop-systems">
				<div class="list-shop-systems-1">
					<p>ZEN Shop - Số 27 Võ Văn Dũng - Đống Đa - Hà Nội</p>
					<p>TEL: 0829887933</p>
					<p>Email:macyzen@gmail.com</p>
			</div>
		</div>
		</div>
    </form>
</body>
</html>